<div [hidden]="!users">
  <app-page-header [title]="'Users'" [subtitle]="'Manage, Register, Update or Remove Users here.'"></app-page-header>
  <app-table
    [data]="users && users" [columns]="userColumns" (onFilter)="filter($event)"
    (onReload)="reload()" (onCreateForm)="openForm()" (onEditForm)="openForm($event)" (onSort)="sort($event)"
    (onDelete)="remove($event)"
    [totalCount]="metaData && metaData.totalCount" [pageSize]="metaData && metaData.pageSize"
    (onPageChanged)="pageChanged($event)"
    [customActionOneData]="userRoleActionData" (onCustomActionOne)="openUserRolesForm($event)"
    >
  </app-table>
</div>
