<app-page-header [title]="'profile.title'" [subtitle]="'profile.subtitle'"></app-page-header>
<mat-card class="module-card">
  <mat-card-content>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="Profile Details">
        <mat-card class="module-card" style="margin: 0px;">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4" style="text-align: center;align-self: center;">
                <div>
                  <mat-card class="module-card">
                    <mat-card-content>
                      <div class="row">
                        <mat-spinner *ngIf="spin"></mat-spinner>
                        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                          <mat-spinner *ngIf="spin"></mat-spinner>
                          <img style="border-radius: 350px; max-width: 200px;min-width: 200px;"
                          [src]="url">
                        </div> -->
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;align-self: center;">
                          <!-- <p>Chhin Sras</p>
                          <p>chhinsras@gmail.com</p> -->
                          <!-- <input #file type="file" accept="image/*" hidden (change)="onSelectFile($event)">
                          <button (click)="file.click()" mat-raised-button color="accent">
                            <span><span style="margin-right: 10px;" class="fas fa-upload"></span>{{'profile.upload' | translate}}</span>
                          </button> -->
                          <app-uploader (onUploadFile)="uploadFile($event)" [uploadType]="uploadType"></app-uploader>
                        </div>
                      </div>

                    </mat-card-content>
                  </mat-card>

                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
                <mat-card class="module-card">
                  <mat-card-content>

                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>{{'profile.firstName' | translate}}</mat-label>
                          <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>{{'profile.phone' | translate}}</mat-label>
                          <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline">
                          <mat-label>{{'profile.lastName' | translate}}</mat-label>
                          <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>{{'profile.email' | translate}}</mat-label>
                          <input disabled matInput autocomplete="off" type="text" autocomplete="off" readonly />
                        </mat-form-field>
                      </div>

                    </div>
                  </mat-card-content>
                  <mat-action-row>

                  </mat-action-row>
                  <mat-card-actions style="text-align: right;padding: 16px;">
                    <button mat-raised-button color="accent">
                      <span><span style="margin-right: 10px;" class="fas fa-save"></span>{{'profile.updateBtn' | translate}}</span>
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Security">
        <mat-card class="module-card" style="margin: 0px;">
          <mat-card-content>
            <div class="row">
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'profile.currentPassword' | translate}}</mat-label>
                  <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'profile.newPassword' | translate}}</mat-label>
                  <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'profile.confirmPassword' | translate}}</mat-label>
                  <input matInput autocomplete="off" type="text" autocomplete="off" readonly />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

</mat-card>
