<div class="content">
    <div class="container">
      <div class="home-center-screen">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="c-card" style="text-align: center;">
              <div>
                <h1 style="font-size: xx-large;">500</h1>
                <h2 translate>components.serverError.header</h2>
                <p translate>components.serverError.text</p>
                <p style="font-weight: bold;">Note: If you are seeing this then Angular is probably not to blame</p>
                <p>What to do next?</p>
                <ol>
                    <li>Open the chrome dev tools</li>
                    <li>Inspect the network tab</li>
                    <li>Check the failing request</li>
                    <li>Examine the request URL - make sure it is correct</li>
                    <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
                </ol>
                <p>Following is the stack trace - this is where your investigation should start!</p>
                <div><code *ngIf="error && error.detail">{{error.detail}}</code></div>
                <button mat-raised-button color="primary" routerLink="/">{{'components.serverError.button'| translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
