<app-page-header [title]="'setting.title' | translate" [subtitle]="'setting.subtitle' | translate"></app-page-header>
<mat-card class="module-card">
  <mat-card-content>
      <div class="row">
          <h4 translate>setting.generalSettings</h4>
          <div class="col-sm-3">
              <mat-form-field appearance="fill">
                  <mat-label translate>setting.language</mat-label>
                  <mat-select [(value)]="selected" (selectionChange)=changeLanguage()>
                      <mat-option value="en"><span translate>setting.english</span></mat-option>
                      <mat-option value="km"><span translate>setting.khmer</span></mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
  </mat-card-content>

</mat-card>
