<mat-card class="module-card">
    <mat-card-header>
        <mat-card-title translate>about.title</mat-card-title>
        <mat-card-subtitle translate>about.subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h2 translate>about.header</h2>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card" style="padding-top: 16px!important;">
                    <mat-card-header style="padding: 16px!important;">
                        <div mat-card-avatar class="member-chhinsras"></div>
                        <mat-card-title>Chhin Sras</mat-card-title>
                        <mat-card-subtitle>Web Developer</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>
