<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <img [src]="this.url">
</div>
<input #file type="file" accept="image/*" hidden (change)="handleSelectFile($event)">
<div>
  <button style="width: 80%;" type="button" (click)="file.click()" mat-raised-button color="accent">
    <span><span style="margin-right: 10px;" class="fas fa-upload"></span>{{'components.uploader.upload' | translate}}</span>
  </button>
  <button style="width: 10%;" type="button" (click)="handleUploadFile()" mat-raised-button color="primary">
    <span class="fas fa-check"></span>
  </button>
</div>
