<app-page-header [title]="'about.title'" [subtitle]="'about.subtitle'"></app-page-header>
<mat-card class="module-card">
     <mat-card-content>
        <h2 translate>about.header</h2>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4 col-xl-4">
                <mat-card class="module-card">
                    <mat-card-header>
                        <div mat-card-avatar class="member-chhinsras"></div>
                        <mat-card-title style="color:black">Chhin Sras</mat-card-title>
                        <mat-card-subtitle>Web Developer</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>
